html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body, html {
    height: 100%;
}

h1 {
    margin: 0;
}

.background {
    margin: 0;
    padding: 0;
    display: flex;

     /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    &__img {
        /* Full height */
    max-height: 1000px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
}



.front {
    height: 60vh;
    width: 100vw;
    display: flex;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    &__container {
      background-color: pink;

    &__title {
        font-weight: weight(regular);
        color: red;
        cursor: pointer;
      
        &:hover {
          color: black;
        }
      }
    &__description {
        font-weight: weight(light);
        color: red;
    }
    }
}