html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin-top: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: 'Space Grotesk';
  vertical-align: baseline;
  text-decoration: none;
}

html body{
  background-color: whitesmoke;
  margin-top: 0px !important;
}



html.k-webkit.k-webkit78 { margin-top: 0 !important; }

.background {
  display: flex;
  margin: 0;
  padding: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

// .projects-background {
//   display: flex;
//   margin: 0;
//   padding: 0;
//   background-position: 50% 50%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   width: 100%;
//   height: 1000px;
//   filter: blur(8px);
//   -webkit-filter: blur(8px);
// }

.custom-nav {
  display: flex;
  justify-content: center;
  position:fixed;
  width: 100%;
  height: 5%;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: rgb(46, 46, 46);
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nav-title {
  font-weight: 800;
  align-self: center;
  font-size: 24px;
  margin: 1%;
  text-decoration: none;
  list-style-type: none;
  color: white;

  &:hover {
    color: rgba(245, 245, 245, 0.918);
  }
}

.navbar-links {
  font-size: 16px;
  color: white;
}

.nav-link {
  color: white;

  &:hover {
    color: rgba(245, 245, 245, 0.918);
  }
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    // &__banner {
    //   height: 40px;
    //   width: 100%;
    //   background-image: linear-gradient(to bottom right, #F6A09A, #8A1F1D);
    //   filter: blur(0px);
    //   -webkit-filter: blur(0px);
    // }

    @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

    &__container {
      width: 100%;
      height: 70%;
      margin-top: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(245, 245, 245, 0.514);
      box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
      // background: linear-gradient(-45deg, #93C0A4, #B6C4A2, #D4CDAB, #DCE2BD);
      // background-size: 400% 400%;
      // animation: gradient 7s ease infinite;
      color: rgb(19, 19, 19);

      &__content {
        padding: 5% 0 5% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40%;
        height: 80%;

        &__title {
          font-size: 82px;
          font-weight: weight(regular);
        }
          
        &__under-title {
          font-size: 36px;
          font-weight: weight(regular);
        }

        &__description {
          margin: 2% 0 2% 0;
          font-size: 18px;
          font-weight: weight(light);
        }

        &__image {
          margin-bottom: 5%;
          width: 10%;
        }

        &__links {
          display: flex;
          justify-content: space-between;
          width: 35%;

          &__link {
            display: inline-block;
            padding: .95rem 1.55rem;
            border-radius: 10rem;
            color: #fff;
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: .15rem;
            transition: all .3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #637c67;
              border-radius: 10rem;
              z-index: -2;
            }
            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              height: 100%;
              background-color: darken(#637c67, 15%);
              transition: all .3s;
              border-radius: 10rem;
              z-index: -1;
            }
            &:hover {
              color: #fff;
              &:before {
                width: 100%;
              }
            }
            }
          }
     }
    }
    &__arrow-down {
      color: black;

      &:hover {
        color: rgba(0, 0, 0, 0.541);
      }
    }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__container {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 10%;

  &__image-container {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 20%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
    width: 50%;

    &__title {
      font-size: 48px;
    }

    &__description {
      font-size: 18px;
    }
  }
}

.contact__container {
  background-color:rgb(22, 22, 22);
  color:blanchedalmond;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    margin: 10% 0 10% 0;
    padding: 3% 0 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 100%;

    &__title {
      font-size: 48px;
    }

    &__description {
      padding: 2% 0 2% 0;
      font-size: 14px;
    }

    a {
      list-style: none;
      text-decoration: none;
      color:blanchedalmond;

      :hover {
        color: white;
      }
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;


  &__container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
  
    &__content {
      padding: 5% 0 5% 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 50%;
      height: 100%;
  
      &__title {
        margin: 10% 0 0 0;
        font-size: 72px;
      }
  
      &__posts {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
  
        &__post {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 2% 0 2% 0;
          margin: 5% 0 5% 0;
  
          &__title {
            font-size: 36px;
          }
  
          &__description {
            padding: 2%;
          }
  
          &__img {
            display: flex;
            flex-wrap: wrap;
            height: auto;
            width: 50%;
            border: 3px dashed black;
          }
        }
      }
    }
  }
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 22);
    color: whitesmoke;

    &__content {
      padding: 5% 0 5% 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 50%;
      height: 100%;
  
      &__title {
        font-size: 48px;
      }

      &__description {

      }

      &__img {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: 100%;
        border: 3px dashed black;
      }
    }
  }
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(37, 37, 37);
  box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
  color: whitesmoke;
  padding: 10%;

  &__content {
    display: flex;
    justify-content: space-around;
    width: 80%;

    &__copyright {
      align-self: flex-end;
    }
  }
}

.github-icon {
  display: flex;
  flex-wrap: wrap;

  &__icon {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .front {

    &__container {

      &__content {

        &__title {
          font-size: 42px;
        }

        &__description {
          font-size: 16px;
        }
        &__links {
          flex-direction: column;
        }
      }
        
    }
  }
  
}

@media only screen and (max-width: 360px) {
  .custom-nav {
    margin-bottom: 20%;
  }
}